In [1]:
#dict = {a:'21',b:'22',c:'23',d:'24'}

In [37]:
#1
list1 = ['abcd','defgh','shgvn','ajdhvl','sd']
for i in list1:
    print(i,len(i))

abcd 4
defgh 5
shgvn 5
ajdhvl 6
sd 2

In [17]:
import pandas as pd

In [25]:
#2
s = 'mom'
for i in s:
    if s(1) == s(-1):
        print('palindrome')
    else:
        print('not palindrome')

TypeError: 'str' object is not callable

In [ ]:
# 3
l = [2,3,5,9,1]
maxx = max(l)
if

In [30]:
#4
ddf = pd.DataFrame([{1:'a',2:'b',3:'c'}])
ddf

   1  2  3
0  a  b  c

In [ ]:
#7
df[age] = df[age].apply[x: lambda x +2]

In [ ]:
#9
ddf1['category'] = [ 'Adult' if age > 30, 'Young' if age < 30]

In [ ]:
 #lambda